mixin info()
	.prizes__info-date&attributes(attributes)
		.prizes__info-date-people
			span Участников:
			span &nbsp;168
		.prizes__info-date-dates
			span Даты розыгрыша:
			span &nbsp;14.08&nbsp;-&nbsp;27.08