///////////основные элементы////////

.prizes_onvertical{
  position: relative;
  width: 236px;
  height: auto;
  margin: 0;

  .prizes__item{
    margin-top: 0;
    margin-bottom: 48px;
     //margin-bottom: 46px;

/*
██╗  ██╗ ██████╗ ██╗   ██╗███████╗██████╗ 
██║  ██║██╔═══██╗██║   ██║██╔════╝██╔══██╗
███████║██║   ██║██║   ██║█████╗  ██████╔╝
██╔══██║██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗
██║  ██║╚██████╔╝ ╚████╔╝ ███████╗██║  ██║
╚═╝  ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝
*/

  &:hover{

    @include DESKTOP{
      .prizes__yellow-circle,
      .photo-circle,
      .name{
        transform: scale(1.2);
      }
    }

    @include TABLET{
      .prizes__yellow-circle,
      .photo-circle,
      .name{
        transition: transform 0.5s;
        transform: scale(1.2);     
      }
    }    
  }

      .prizes__yellow-circle,
      .photo-circle,
      .name{
        transition: transform 0.5s;
      }

  }

  .prizes__item-left{
     width: 122px;
     margin: 0; 
  }

  .prizes__yellow-circle{
    width: 98px;
    height: 97.5px;
    margin: 27px 7px 10px;
  }
  .photo-circle{
    width: 56px;
    height: 57px;
  }

  .photo-circle__num{
    top: auto;
    margin-top: 10px;
    transform: none;
  }
  .photo-circle__text{
    top: auto;
    transform: none;
    margin-top: -3px;
    line-height: 1;
  }
  .name{
    margin-right: 10px;
    @extend .PRIZE_NAME;
  }
  
  /*
   ██████╗██╗  ██╗███████╗ ██████╗██╗  ██╗███████╗██████╗ 
  ██╔════╝██║  ██║██╔════╝██╔════╝██║ ██╔╝██╔════╝██╔══██╗
  ██║     ███████║█████╗  ██║     █████╔╝ █████╗  ██║  ██║////////////////убаны изменения/////////////
  ██║     ██╔══██║██╔══╝  ██║     ██╔═██╗ ██╔══╝  ██║  ██║
  ╚██████╗██║  ██║███████╗╚██████╗██║  ██╗███████╗██████╔╝
   ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═════╝ 
   */

   input:checked + .prizes__item{
    transition: none;


    width: auto;
    height: auto;

    .prizes__item-left{
      width: 122px;
      margin: 0;
    }

    .prizes__yellow-circle{
      width: 98px;
      height: 97.5px;
      margin: 27px 7px 10px;
    }

    .photo-circle{
      top: 0;
      width: 56px;
      height: 57px;
    }

    .photo-circle__num{
      transform: none;
      font-size: 24.16px;
      margin-top: 10px;
    }

    .photo-circle__text{
      transform: none;
      font-size: 15px;
      margin-top: -3px;
      line-height: 1;

    }


    .prizes__info{
      display: none;
    }
   }

  /*
████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║   
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║   
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║   
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝   
*/

@include TABLET{
  margin: auto;
  width: 700px;
  //height: 441px;
  display: block;

  .prizes__item{
    margin: 0 91px 52px;
  }

  .prizes__item-left{
    width: 156px;
    height: 196px;
    margin:0 ;
  }

  .prizes__yellow-circle{
    width: 127px;
    height: 127px;
    margin: 33px 7px 11px;
  }

  .photo-circle{
    width: 72px;
    height: 73px;
  }

  .photo-circle__num{
    margin-top: 16px;
  }
  .photo-circle__text{
    margin-top: 0px;
  }

  .name{
    font-size: 22px;
  }

  input:checked + .prizes__item{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0 91px 52px;

    .prizes__item-left{
      width: 156px;
      height: 196px;
      margin:0 ;
      transform: none;
      transition: none !important;
    }

    .prizes__yellow-circle{
      width: 127px;
      height: 127px;
      margin: 33px 7px 11px;
      transform: none;
      transition: none !important;
    }

    .photo-circle{
      width: 72px;
      height: 74px;
      transform: none;
      transition: none !important;
    }
    .photo-circle__num{
      margin-top: 16px;
      font-size: 25.24px;
    }
    
    .photo-circle__text{
      font-size: 14.72px;
      line-height: 1;
      margin-top: 0;

    }


    .name{
      font-size: 22px;
      transform: none;
      transition: none !important;
    }

  }

}

/*
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝

*/

@include MOBILE{
  width: 320px;
  margin: auto;

  .prizes__item{
    margin: 0 30px 20px;
    //outline: 2px solid red;
  }

  .prizes__item-left{
    width: 75px;
  }

  .prizes__yellow-circle{
    width: 58px;
    height: 58px;
    margin: 17px 7px 6px;
  }

  .photo-circle{
    width: 33.5px;
    height: 34.5px;

    &__num{
      margin-top: 8px;
      margin-bottom: 2px;
      font-size: 12.5px;
    }

    &__text{
      font-size: 7.25px;
      margin-top: 0px;
    }
  }

  .name{
    margin-right: 0;
    font-size: 10.5px;
  }

  input:checked + .prizes__item{

      margin: 0 30px 20px;

    .prizes__item-left{
      width: 75px;
    }


    .prizes__yellow-circle{
      width: 58px;
      height: 58px;
      margin: 17px 7px 6px;
    }

    .photo-circle{
      width: 33.5px;
      height: 34.5px;
    }

    .photo-circle__num{
      margin-top: 8px;
      margin-bottom: 2px;
      font-size: 12.5px;
    }

    .photo-circle__text{
      font-size: 7.25px;
      margin-top: 0px;
    }

    .prizes__info{
      display: none;
    }
    .name{
      margin-right: 0;
      font-size: 10.5px;
    }
  }
}


}


