mixin myplace()
	.myplace&attributes(attributes)
		.prizes__info-myplace
			span Мое место в&nbsp;рейтинге
			.num 5
		.prizes__info-renewal
			span 
				em Обновление данных происходит в 0:00 по Мск
		a.prizes__btn Бороться за этот приз
