mixin myplace()
	.myplace&attributes(attributes)
		.prizes__info-myplace
			span
				b Мое место в&nbsp;рейтинге:
			.num 6
		.prizes__info-renewal
			span Обновление данных происходит в&nbsp;0:00&nbsp;по Мск
		a.prizes__btn Бороться за этот приз
