input[type='radio']{
	display: none;
}

/////////////////////////////основной блок///////////////////////////////

.prizes{
	position: relative;
	top: 10px;
	width: auto;
	height: auto;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	outline: 2px solid red;
}

.prizes__item{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: auto;
    //height: auto;
    outline: 2px solid green;
    cursor: pointer;
}

.prizes__item-left{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	transition:  margin 0.5s;
	//height: 155px;

	@extend .PRIZE_NAME;
}

.prizes__yellow-circle{
	position: relative;
	border-radius: 50%;
    background: linear-gradient( 90deg, rgb(250,166,39) 0%, rgb(255,225,21) 99%);
    width: 115px;
    height: 114px;
    margin: 30px 18px 9px 18px;
}

.photo-circle{
	position: absolute;
	top: 0;
	right: 0;
	width: 61px;
	height: 62px;
	border-radius: 50%;
	background-color: #000000;
	color: #ffffff;
	transition: none;
}

.photo-circle__num,
.photo-circle__text{
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-100%);

	
}

.photo-circle__num{
	@extend .PHOTOS_NAME;
}
.photo-circle__text{
	@extend .PHOTOS_WORD;
}

.prizes__info{
	opacity: 0;
	font-size: 0;
	vertical-align: middle;
	transition: opacity 0.3s;
	transition-delay: 0.3s;
}



//////////////////////выбор приза//////////////////////

input:checked + .prizes__item{
	//width: 563px;
	height: 316px;

	.prizes__item-left{
		width: 277px;
		//float: left;
		margin-right: 24px;

		@extend .PRIZE_NAME_CH;
	}

	.prizes__yellow-circle{
		width: 218px;
		height: 219px;
	}

	.prizes__info{
		//float: right;
		display: inline-block;
		margin-right: 66px;
		width: 254px;
		font-size: 100%;
		opacity: 1;
		text-align: left;
		vertical-align: middle;
	}

	.photo-circle{
		width: 102px;
		height: 104px;

	}

}
/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║   
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║   
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║   
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝   
   */

@include TABLET{

	.prizes__item{
		//position: absolute;
		//bottom: 0;
		margin-top: 316px;
	}

	.prizes__info{
		transition: opacity 0.3s;
		transition-delay: 0.3s;
	}

	input:checked + .prizes__item{
		position: absolute;
  		top: 0;
        left: 0;
        right: 0;
        margin: auto;
        outline: 2px solid orange;


  	}

  }

  /*

███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
*/

@include MOBILE{

	.prizes{
		width: 480px;
	}

	.prizes__item-left{
		width: auto;
	}


	.prizes__yellow-circle{
		width: 69.5px;
		height: 69.5px;
		margin: 20px 12px 7.5px;
	}

	.photo-circle{
		width: 38px;
		height: 38px;
	}

	input:checked + .prizes__item{
		width: auto;

		.prizes__item-left{
			width: auto;
			display: block;
			position: static;
		}

		.prizes__yellow-circle{
			width: 133px;
			height: 133px;
		}

		.photo-circle{
			width: 64px;
			height: 64px;
		}
		.prizes__info{
			display: block;
			width: 163px;
			margin-right: 0;
		}

		.prizes__info-myplace,
		.prizes__info-renewal{
			display: none;
			font-size: 0;
		}

	}

}
                                                 



/*
██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗
██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║
██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║
██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║
██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║
╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝
*/

/*
.prizes__btn{
    cursor: pointer;
    display: block;
    position: relative;
	top: 3px;
	right: 17px;
	width: 266px;
	height: 35px;
	padding-top: 15px;
	border-radius: 20px 20px 20px 20px;
	text-align: center;
	font-family: 'OfficinaSerifBold';
	font-size: 17.36px;
	text-transform: uppercase;
	background: linear-gradient( 90deg, rgb(250,166,39) 0%, rgb(255,225,21) 99%);


	&:active{
	background-image: none;
	background-color: #000000;
	color: #fed618;
	}
}*/