.prizes_onsimple{
	width: auto;
	height: auto;



 /*
███╗   ███╗ █████╗ ██╗███╗   ██╗     ██████╗██╗  ██╗███████╗ ██████╗██╗  ██╗███████╗██████╗ 
████╗ ████║██╔══██╗██║████╗  ██║    ██╔════╝██║  ██║██╔════╝██╔════╝██║ ██╔╝██╔════╝██╔══██╗
██╔████╔██║███████║██║██╔██╗ ██║    ██║     ███████║█████╗  ██║     █████╔╝ █████╗  ██║  ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║    ██║     ██╔══██║██╔══╝  ██║     ██╔═██╗ ██╔══╝  ██║  ██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║    ╚██████╗██║  ██║███████╗╚██████╗██║  ██╗███████╗██████╔╝
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝     ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═════╝ 

   */

    input:checked + .prizes__item{
    	width: auto;
    	height: auto;
	    margin: 0px 34px;

			.prizes__item-left{
				width: 134px;
				height: 154px;
				margin: 0;
			}

			.prizes__yellow-circle{
				width: 99px;
				height: 99px;
				margin: 26px 19px 9px;
			}

			.photo-circle{
				top:0;
				width: 57px;
		  	height: 58px;
			}

			.photo-circle__num{
	    	top: auto;
	    	margin-top: 11px;
	    	transform: none;
	    	font-size: 20px;
	    }

	    .photo-circle__text{
	    	top: auto;
	    	margin-top: -10px;
	    	transform: none;
	    	font-size: 12px;
	    	//line-height: 2;
	    }

	    .prizes__pic{
	    	top: 10px;
	    	left: -14px;
	    	width: 128px;
	    	height: 74px;
		    }

	    .prizes__info{
	    	display: none;
	    }
	    .name{
	    	font-size: 18px;
	    }

    }


	.prizes__item{
	    margin: 0px 34px;

/*
██╗  ██╗ ██████╗ ██╗   ██╗███████╗██████╗ 
██║  ██║██╔═══██╗██║   ██║██╔════╝██╔══██╗
███████║██║   ██║██║   ██║█████╗  ██████╔╝
██╔══██║██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗
██║  ██║╚██████╔╝ ╚████╔╝ ███████╗██║  ██║
╚═╝  ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝
*/
		@include DESKTOP{
		  &:hover{

		    .prizes__yellow-circle,
		    .photo-circle,
		    .name{
		      transform: scale(1.2);
		    }
		  }
		}

		&_chosen{
			position: relative;

			.prizes__yellow-circle{

				&:before{
					position: absolute;
					content: '';
					top: -17px;
		    	left: -18px;
					width: 134px;
			  	height: 112px;
			  	background: url('../img/border.png') no-repeat;
			  	transition: opacity 0.5s;
				}
			}
		}
	}

	.prizes__item-left{
		width: 134px;
		height: 154px;
	}

	.prizes__yellow-circle{
		width: 99px;
		height: 99px;
		margin: 26px 19px 9px;
		transition: transform 0.5s;
	}

	.photo-circle{
		width: 57px;
		height: 58px;
		transition: transform 0.5s;
	}

	.photo-circle__num{
  	top: auto;
  	margin-top: 11px;
  	font-size: 20px;
  	transform: none;
  }

  .photo-circle__text{
  	top: auto;
  	margin-top: -10px;
  	transform: none;
  	font-size: 12px;
  	//line-height: 2;
  }

  .prizes__pic{
  	top: 10px;
  	left: -14px;
  	width: 128px;
  	height: 74px;

  }

  .name{
  	transition: transform 0.5s;
  }

  /*
████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║   
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║   
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║   
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝   
*/

    @include TABLET{

    	display: block;

    	.prizes__item{
    		margin: -1px 10px;

    		  &:hover{

    		  	.photo-circle,
    		  	.prizes__yellow-circle,
    		  	.name{
    		  		transform: scale(1.1);
    		  	}
	    		 	.prizes__yellow-circle:before{
	    		 		opacity: 1;
	    		 	}
    		 }

    		  &_chosen{
  				position: relative;

		  		.prizes__yellow-circle{

		  			&:before{
		  				opacity: 1;
		  				top: -21px;
		    			left: -22px;
							width: 153px;
				  		height: 128px;
				  		background: url('../img/border-2.png') no-repeat;
						}
					}
				}
    	}

    	.prizes__item-left{
    		width: 146px;
    		height: 168px;
    	}

    	.prizes__yellow-circle{
    		width: 108px;
  			height: 107px;
  			margin: 29px 20px 10px;
    	}

    	.photo-circle{
			  width: 62px;
			  height: 63px;
			  color: #fdc81c;

			  &__num{
		      margin-top: 12px;
		      font-size: 23px;
		    }

		    &__text{
		      font-size: 13px;
		    }

    	}

    	.prizes__pic{
    		top: 11px;
		    left: -13px;
		    width: 133.2;
		    height: 78.3;
    	}

 /*
   ██████╗██╗  ██╗███████╗ ██████╗██╗  ██╗███████╗██████╗ 
  ██╔════╝██║  ██║██╔════╝██╔════╝██║ ██╔╝██╔════╝██╔══██╗
  ██║     ███████║█████╗  ██║     █████╔╝ █████╗  ██║  ██║////////////////убpаны изменения/////////////
  ██║     ██╔══██║██╔══╝  ██║     ██╔═██╗ ██╔══╝  ██║  ██║
  ╚██████╗██║  ██║███████╗╚██████╗██║  ██╗███████╗██████╔╝
   ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═════╝ 
   */

    input:checked + .prizes__item{
    		position: relative;
    		top: auto;
    		left: auto;
    		right: auto;
    		height: auto;
    		margin: -1px 10px;


    	.prizes__item-left{
    		width: 146px;
    		height: 168px;
    		margin: 0;
    	}

    	.prizes__yellow-circle{
    		width: 108px;
  			height: 107px;
  			margin: 29px 20px 10px;
    	}

    	.photo-circle{
    		top: 0;
			  width: 62px;
			  height: 63px;
			  color: #fdc81c;

			  &__num{
		      margin-top: 12px;
		      font-size: 23px;
		    }

		    &__text{
		      font-size: 13px;
		    }

    	}

    	.prizes__info{
    		display: none;
    	}

    	.name{
    		font-size: 18px;
    	}

    	.prizes__pic{
    		top: 11px;
		    left: -13px;
		    width: 133.2;
		    height: 78.3;
    	}
    }
	}
	/*
	███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
	████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
	██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
	██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
	██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
	╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
	*/


	@include MOBILE{
		width: 320px;
		height: auto;

		.prizes__item{
			margin: 0px 19px 18px;
		}

		.prizes__item-left{
			width: 92.5px;
			height: 106.5px;

		}

		.prizes__yellow-circle{
		  width: 67px;
		  height: 67px;
		  margin: 16px 16px 10px;

		  &:before{
		  	display: none;
		  }

		}

		.photo-circle{
		  width: 35px;
		  height: 35px;

		  &__num{
	      margin-top: 8px;
	      font-size: 14px;
	    }

	    &__text{
	      font-size: 8px;
	      margin-top: -1px;
	    }

		}

		.name{
			font-size: 12px;
			margin-left: 8px;
		}

		.prizes__pic{
			top: 7px;
    	left: -13px;
			width: 89px;
			height: 52px;
		}

		 /*
   ██████╗██╗  ██╗███████╗ ██████╗██╗  ██╗███████╗██████╗ 
  ██╔════╝██║  ██║██╔════╝██╔════╝██║ ██╔╝██╔════╝██╔══██╗
  ██║     ███████║█████╗  ██║     █████╔╝ █████╗  ██║  ██║////////////////убаны изменения/////////////
  ██║     ██╔══██║██╔══╝  ██║     ██╔═██╗ ██╔══╝  ██║  ██║
  ╚██████╗██║  ██║███████╗╚██████╗██║  ██╗███████╗██████╔╝
   ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═════╝ 
   */

    input:checked + .prizes__item{
    	width: auto;
    	height: auto;
    	margin: 0px 19px 18px;
    	vertical-align: top;

			.prizes__item-left{
				width: 92.5px;
				height: 106.5px;
				margin: 0;
				display: inline-block;
			}

			.prizes__yellow-circle{
			  width: 67px;
			  height: 67px;
			  margin: 16px 16px 10px;

			  &:before{
			  	display: none;
			  }

			}

			.photo-circle{
			  width: 35px;
			  height: 35px;

			  &__num{
		      margin-top: 6px;
		      font-size: 14px;
		    }

		    &__text{
		      font-size: 8px;
		      margin-top: -1px;
		      line-height: 1.3;
		    }

			}

			.name{
				font-size: 12px;
				margin-left: 8px;
			}

			.prizes__info{
				display: none;
			}

			.prizes__pic{
				top: 7px;
    		left: -13px;
				width: 89px;
				height: 52px;
		}

    }

	}



}

